.page_about {
    align-items: center;
    gap: 1ch;
    padding-bottom: 40dvh;
    padding: 1ch 1ch 40dvh 1ch;
}

.page_about section {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
    gap: 1ch;
    background: var(--color-main);
    padding: 1ch 1.5ch;
    border-radius: 1ch;
    border: solid 2px var(--color-main-light);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.page_about h2 {
    font-size: 18px;
    font-weight: normal;
}

.page_about h2::before {
    margin-right: 0.5ch;
    content: '&';
    font-weight: bold;
    color: var(--color-main-light);
}