.page_main {
    align-items: center;
    gap: 1ch;
    padding-bottom: 40dvh;
    padding: 1ch 1ch 40dvh 1ch;
}

.page_main section {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
    gap: 1ch;
    background: var(--color-main);
    padding: 1ch 1.5ch;
    border-radius: 1ch;
    border: solid 2px var(--color-main-light);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.page_main h2 {
    font-size: 18px;
    font-weight: normal;
}

.page_main h2::before {
    margin-right: 0.5ch;
    content: '&';
    font-weight: bold;
    color: var(--color-main-light);
}

.page_main li::marker {
    content: none;
}

.page_main ul ul {
    padding: 1ch;
    border-left: 2px solid var(--color-main-light);
}

.page_main li:not(:first-child) {
    margin-top: 1ch;
}

.page_main .page-path {
    font-size: 0.75em;
    padding: 0 0.5ch;
    color: rgb(from var(--color-main-white) r g b / 50%);
}

.page_main .page-description {
    font-size: 0.9em;
}