main {
    align-items: center;
    gap: 1ch;
    padding-bottom: 40dvh;
    padding: 1ch 1ch 40dvh 1ch;
}

section {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
    gap: 1ch;
    background: var(--c-main);
    padding: 1ch 1.5ch;
    border-radius: 1ch;
    border: solid 2px var(--c-main-l);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

section h2 {
    font-size: 18px;
    font-weight: normal;
}

section h2::before {
    margin-right: 0.5ch;
    content: '&';
    font-weight: bold;
    color: var(--c-main-l);
}

section ul {
    padding-left: 2em;
}