button.az-button,
a.az-link-button,
label.az-input-button {
    overflow: hidden;
    --az-button-background: var(--c-green);
    --az-button-hover: var(--c-green-d);
    --az-button-foreground: var(--c-white-text);
    background: var(--az-button-background);
    color: var(--az-button-foreground);
    border-radius: 1em;
    border: none;
    padding: 0 0.45em;
    margin: 0;
    cursor: pointer;
    text-decoration: none;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    justify-content: space-between;
    transition: 200ms;
    word-break: break-word;
}

/* #region a.az-link-button specifics */

a.az-link-button:not(.pure)::after {
    display: inline-block;
    content: "↘";
    right: 0;
}

a.az-link-button[target="_blank"]:not(.pure)::after {
    content: "↗";
}

a.az-link-button[href^='#']:not(.pure)::after {
    content: "#";
}

/* #endregion */

/* #region button.az-button specifics */

button.az-button.az-button-copy:not(.pure)::after {
    content: "«";
}

/* #endregion */

/* #region label.az-input-button specifics */

label.az-input-button input {
    font-size: 0.8em;
    background: var(--az-button-hover);
    color: var(--az-button-foreground);
    border: none
}

/* 
label.az-input-button {
    padding: 2px 0.4em;
    } */

label.az-input-button:has(input:is([type=number], [type=text], [type=range])) {
    padding-right: 0.1em;
}

label.az-input-button input[type=number] {
    width: 5em;
    border-radius: 1em;
    padding: 0 .3em;

}

label.az-input-button input[type=number]::-webkit-outer-spin-button,
label.az-input-button input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

label.az-input-button input[type=text] {
    border-radius: 1em;
    padding: 0 .3em;
}

label.az-input-button input[type=range] {
    width: 8em;
    background-color: var(--az-button-hover);
    cursor: ew-resize;
    border-radius: 1em;
}

label.az-input-button input[type=range]::-moz-range-thumb,
label.az-input-button input[type=range]::-moz-range-thumb {
    border: solid 2px var(--az-button-hover);
    background: transparent;
    background: var(--az-button-foreground);
    box-sizing: border-box;
    border-radius: 1em;
}

label.az-input-button input[type=color],
label.az-input-button input[type=color]::-webkit-color-swatch-wrapper,
label.az-input-button input[type=color]::-webkit-color-swatch,
label.az-input-button input[type=color]::-moz-focus-inner,
label.az-input-button input[type=color]::-moz-color-swatch {
    -webkit-appearance: none;
    border: none;
    width: 2em;
    height: 1em;
    background: transparent;
    padding: 0;
    margin: 0;
    border-radius: 2em;
    cursor: pointer;
    vertical-align: middle;
}

/* #endregion */

/* #region coloring */

:is(button.az-button, a.az-link-button, label.az-input-button):not([static]):hover {
    background: var(--az-button-foreground);
    color: var(--az-button-hover);
}

:is(button.az-button, a.az-link-button, label.az-input-button).color-green {
    --az-button-background: var(--c-green);
    --az-button-hover: var(--c-green-d);
}

:is(button.az-button, a.az-link-button, label.az-input-button).color-magenta {
    --az-button-background: var(--c-magenta);
    --az-button-hover: var(--c-magenta-d);
}

:is(button.az-button, a.az-link-button, label.az-input-button).color-purple {
    --az-button-background: var(--c-purple);
    --az-button-hover: var(--c-purple-d);
}

:is(button.az-button, a.az-link-button, label.az-input-button).color-blue {
    --az-button-background: var(--c-blue);
    --az-button-hover: var(--c-blue-d);
}

:is(button.az-button, a.az-link-button, label.az-input-button).color-gold {
    --az-button-background: var(--c-gold);
    --az-button-hover: var(--c-gold-d);
}

:is(button.az-button, a.az-link-button, label.az-input-button).color-red {
    --az-button-background: var(--c-red);
    --az-button-hover: var(--c-red-d);
}

:is(button.az-button, a.az-link-button, label.az-input-button).color-gray {
    --az-button-background: var(--c-gray);
    --az-button-hover: var(--c-gray-d);
}


.az-span.color-green {
    color: var(--c-green-l);
}

.az-span.color-magenta {
    color: var(--c-magenta-l);
}

.az-span.color-purple {
    color: var(--c-purple-l);
}

.az-span.color-blue {
    color: var(--c-blue-l);
}

.az-span.color-gold {
    color: var(--c-gold-l);
}

.az-span.color-red {
    color: var(--c-red-l);
}

.az-span.color-gray {
    color: var(--c-gray-l);
}

/*#endregion*/