#text-input,
#text-output {
    border-radius: 1rem;
    background: var(--c-back-head);
    padding: .7rem;
    width: calc(100vw - 2rem);
    max-width: 800px;
    min-height: 3em;
    height: 9em;
    overflow: auto;
    resize: vertical;
    display: flex;
}

#text-output {
    border: 2px solid var(--c-blue);
}

#text-input {
    border: 2px solid var(--c-magenta);
}

select {
    background: var(--c-back-head);
    border: 0.2rem solid var(--c-back-head);
    border-radius: 1rem;
    padding: 0 0.3em;
    cursor: pointer;
}
.translator-page {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.instruments {
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}