#text-input,
#text-output {
    border-radius: 1em;
    background: var(--color-back-head);
    padding: .7rem;
    width: calc(100vw - 2rem);
    max-width: 800px;
    min-height: 3em;
    height: 9em;
    overflow: auto;
    resize: vertical;
    display: flex;
}

#text-output {
    border: 2px solid var(--color-blue);
}

#text-input {
    border: 2px solid var(--color-magenta);
}

.translator-page {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}