.page_projects {
    gap: 1ch;
}

.project-link-panel {
    display: flex;
    flex-direction: column;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
    background: var(--color-main-black);
    border: solid 2px var(--color-main-light);
    border-radius: 5px;
    box-shadow: var(--shadow);
    color: var(--color-text-white);
    text-decoration: none;
    background-color: var(--color-main-dark);
}

.project-link-panel:hover {
    border-color: var(--color-main-white);
    background-color: var(--color-main-light);
}

.project-link-panel .project-path {
    grid-area: path;
    font-size: 0.75em;
    padding: 0.25ch 0.5ch;
    color: var(--color-main-light);
}

.project-link-panel:hover .project-path {
    text-decoration: underline;
    color: var(--color-main-white);
}

.project-link-panel .project-title {
    grid-area: title;
    padding: 0.25ch 0.5ch;
    font-size: 1.25em;
    background-color: var(--color-main-light);
}

.project-link-panel:hover .project-title {
    background-color: var(--color-main-white);
}

.project-link-panel .project-description {
    grid-area: description;
    padding: 0.25ch 0.5ch;
    color: var(--color-main-white);
    border-bottom: solid 2px var(--color-main-light);
}

.project-link-panel:hover .project-description {
    border-color: var(--color-main-white);
}

.project-link-panel .project-tags {
    grid-area: tags;
    font-size: 0.75em;
    padding: 0.25ch 0.5ch;
    color: var(--color-main-light);
}

.project-link-panel:hover .project-tags {
    color: var(--color-main-white);
}