.az-header-container {
    position: sticky;
    top: 0;
    z-index: 2;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

header {
    padding: .75em 4em;
    min-height: 48px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1ch;
    align-items: center;
    justify-content: center;
    background: var(--c-header);
    box-shadow: var(--shadow);
    border-bottom: solid 2px var(--c-main-l);
}

header>div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1ch;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width : 800px) {
    header {
        padding: .75em;
    }
}