.az-instruments-panel {
    padding: .75em;
    min-height: 48px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1ch;
    align-items: center;
    justify-content: center;
    background: var(--color-main);
    box-shadow: var(--shadow);
    border-top: solid 2px var(--color-main-light);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

.az-instruments-panel .az-instruments-subpanel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1ch;
    align-items: center;
    justify-content: center;
}