.az-button,
.az-link-button,
.az-input-button,
.az-select-button {
    --az-button-background: var(--c-green);
    --az-button-hover: var(--c-green-d);
    --az-button-foreground: var(--c-white-text);
    background: var(--az-button-background);
    color: var(--az-button-foreground);
    border-radius: 0.5ch;
    border: none;
    padding: 0 0.5ch;
    margin: 0;
    cursor: pointer;
    text-decoration: none;
    display: inline-flex;
    flex-direction: row;
    gap: 1ch;
    justify-content: space-between;
    transition: 200ms;
    word-break: break-word;
    position: relative;
    align-items: center;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}

/* #region .az-select-button specifics */

.az-select-button {
    gap: 0.5ch;
}

.az-select-button::after {
    content: "=";
}

.az-select-button .az-select-button-selected {
    padding: 0 0.5ch;
    background-color: var(--az-button-hover);
    color: var(--az-button-foreground);
    max-width: 10em;
}

.az-select-button .az-select-dropdown {
    color: var(--az-button-foreground);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1.75em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-height: 10em;
    gap: 2px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 2px solid var(--az-button-background);
    background-color: var(--az-button-background);
    box-shadow: var(--shadow);
}


.az-select-button .az-select-dropdown li {
    padding: 0.25ch 0.5ch;
    background-color: var(--az-button-hover);
}

.az-select-button .az-select-dropdown li:hover {
    background-color: var(--az-button-foreground);
    color: var(--az-button-hover);
}

.az-select-button .az-select-dropdown::-webkit-scrollbar {
    width: 0.5ch;
    height: 0.5ch;
}

.az-select-button .az-select-dropdown::-webkit-scrollbar-thumb {
    background-color: var(--az-button-foreground);
    border: 2px solid var(--az-button-hover);
}

.az-select-button .az-select-dropdown::-webkit-scrollbar-track {
    background-color: var(--az-button-hover);
}

/* #endregion */

/* #region .az-link-button specifics */


.az-link-button:not(.pure)::after {
    content: "↘";
}

.az-link-button[target="_blank"]:not(.pure)::after {
    content: "↗";
}

.az-link-button[href^='#']:not(.pure)::after {
    content: "#";
}

/* #endregion */

/* #region .az-button specifics */

.az-button.az-button-copy:not(.pure)::after {
    content: "«";
}

/* #endregion */

/* #region .az-input-button specifics */

.az-input-button input {
    background: var(--az-button-hover);
    color: var(--az-button-foreground);
    border: none;
    line-height: 1em;
}


.az-input-button:has(input[type=number]) {
    cursor: text;
}

/*
.az-input-button:has(input:is([type=text], [type=range])) {
} */

.az-input-button input[type=number] {
    -moz-appearance: textfield;
    appearance: none;
    width: 5em;
    padding: 0 0.5ch;
}

.az-input-button input[type=number]::-webkit-outer-spin-button,
.az-input-button input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.az-input-button input[type=text] {
    padding: 0 0.5ch;
}

.az-input-button input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    width: 8rem;
    background-color: var(--az-button-hover);
    cursor: ew-resize;
    height: 0.5ch;
}

.az-input-button:hover input[type=range] {
    background-color: var(--az-button-background);
}

.az-input-button input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: var(--az-button-foreground);
    width: 0.5ch;
    height: 1em;
}

.az-input-button:hover input[type=range]::-webkit-slider-thumb {
    background-color: var(--az-button-hover);
}


.az-input-button input[type=range]::-moz-range-thumb {
    background: var(--az-button-foreground);
    width: 0.5ch;
    height: 1em;
}

.az-input-button:hover input[type=range]::-moz-range-thumb {
    background-color: var(--az-button-hover);
}


.az-input-button input[type=color],
.az-input-button input[type=color]::-webkit-color-swatch-wrapper,
.az-input-button input[type=color]::-webkit-color-swatch,
.az-input-button input[type=color]::-moz-focus-inner,
.az-input-button input[type=color]::-moz-color-swatch {
    -webkit-appearance: none;
    border: none;
    width: 2em;
    height: 1em;
    background: transparent;
    padding: 0;
    margin: 0;
    border-radius: 2em;
    cursor: pointer;
    vertical-align: middle;
}

/* #endregion */

/* #region coloring */

:is(.az-button, .az-link-button, .az-input-button, .az-select-button):not([static]):hover {
    background: var(--az-button-foreground);
    color: var(--az-button-hover);
}

:is(.az-button, .az-link-button, .az-input-button, .az-select-button).color-green {
    --az-button-background: var(--c-green);
    --az-button-hover: var(--c-green-d);
}

:is(.az-button, .az-link-button, .az-input-button, .az-select-button).color-magenta {
    --az-button-background: var(--c-magenta);
    --az-button-hover: var(--c-magenta-d);
}

:is(.az-button, .az-link-button, .az-input-button, .az-select-button).color-purple {
    --az-button-background: var(--c-purple);
    --az-button-hover: var(--c-purple-d);
}

:is(.az-button, .az-link-button, .az-input-button, .az-select-button).color-blue {
    --az-button-background: var(--c-blue);
    --az-button-hover: var(--c-blue-d);
}

:is(.az-button, .az-link-button, .az-input-button, .az-select-button).color-gold {
    --az-button-background: var(--c-gold);
    --az-button-hover: var(--c-gold-d);
}

:is(.az-button, .az-link-button, .az-input-button, .az-select-button).color-red {
    --az-button-background: var(--c-red);
    --az-button-hover: var(--c-red-d);
}

:is(.az-button, .az-link-button, .az-input-button, .az-select-button).color-gray {
    --az-button-background: var(--c-gray);
    --az-button-hover: var(--c-gray-d);
}


.az-span.color-green {
    color: var(--c-green-l);
}

.az-span.color-magenta {
    color: var(--c-magenta-l);
}

.az-span.color-purple {
    color: var(--c-purple-l);
}

.az-span.color-blue {
    color: var(--c-blue-l);
}

.az-span.color-gold {
    color: var(--c-gold-l);
}

.az-span.color-red {
    color: var(--c-red-l);
}

.az-span.color-gray {
    color: var(--c-gray-l);
}

.az-select-button option {
    background: var(--c-green-d);
    font-size: 0.8em;
}

.az-select-button.color-green option {
    background: var(--c-green-d);
}

.az-select-button.color-magenta option {
    background: var(--c-magenta-d);
}

.az-select-button.color-purple option {
    background: var(--c-purple-d);
}

.az-select-button.color-blue option {
    background: var(--c-blue-d);
}

.az-select-button.color-gold option {
    background: var(--c-gold-d);
}

.az-select-button.color-red option {
    background: var(--c-red-d);
}

.az-select-button.color-gray option {
    background: var(--c-gray-d);
}

/*#endregion*/