.az-button,
.az-link-button,
.az-input-button,
.az-select-button {
    background: var(--color-element);
    color: var(--color-text-white);
    border-radius: 0.5ch;
    border: none;
    padding: 0 0.5ch;
    margin: 0;
    cursor: pointer;
    text-decoration: none;
    display: inline-flex;
    flex-direction: row;
    gap: 1ch;
    justify-content: space-between;
    transition: 200ms;
    word-break: break-word;
    position: relative;
    align-items: center;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* #region .az-select-button specifics */

.az-select-button {
    gap: 0.5ch;
}

.az-select-button::after {
    content: "=";
}

.az-select-button .az-select-button-selected {
    padding: 0 0.5ch;
    background-color: var(--color-element-dark);
    color: var(--color-element-white);
    max-width: 10em;
}

.az-select-button .az-select-dropdown {
    color: var(--color-element-white);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1.75em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-height: 10em;
    gap: 2px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 2px solid var(--color-element);
    background-color: var(--color-element);
    box-shadow: var(--shadow);
}


.az-select-button .az-select-dropdown li {
    padding: 0.25ch 0.5ch;
    background-color: var(--color-element-dark);
}

.az-select-button .az-select-dropdown li:hover {
    background-color: var(--color-element-white);
    color: var(--color-element-dark);
}

.az-select-button .az-select-dropdown::-webkit-scrollbar {
    width: 0.5ch;
    height: 0.5ch;
}

.az-select-button .az-select-dropdown::-webkit-scrollbar-thumb {
    background-color: var(--color-element-white);
    border: 2px solid var(--color-element-dark);
}

.az-select-button .az-select-dropdown::-webkit-scrollbar-track {
    background-color: var(--color-element-dark);
}

/* #endregion */

/* #region .az-link-button specifics */


.az-link-button:not(.pure)::after {
    content: "↘";
}

.az-link-button[target="_blank"]:not(.pure)::after {
    content: "↗";
}

.az-link-button[href^='#']:not(.pure)::after {
    content: "#";
}

/* #endregion */

/* #region .az-button specifics */

.az-button.az-button-copy:not(.pure)::after {
    content: "«";
}

/* #endregion */

/* #region .az-input-button specifics */

.az-input-button input {
    background: var(--color-element-dark);
    color: var(--color-element-white);
    border: none;
    line-height: 1em;
}


.az-input-button:has(input[type=number]) {
    cursor: text;
}

/*
.az-input-button:has(input:is([type=text], [type=range])) {
} */

.az-input-button input[type=number] {
    -moz-appearance: textfield;
    appearance: none;
    width: 5em;
    padding: 0 0.5ch;
}

.az-input-button input[type=number]::-webkit-outer-spin-button,
.az-input-button input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.az-input-button input[type=text] {
    padding: 0 0.5ch;
}

.az-input-button input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    width: 8rem;
    background-color: var(--color-element-dark);
    cursor: ew-resize;
    height: 0.5ch;
}

.az-input-button:hover input[type=range] {
    background-color: var(--color-element);
}

.az-input-button input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: var(--color-element-white);
    width: 0.5ch;
    height: 1em;
}

.az-input-button:hover input[type=range]::-webkit-slider-thumb {
    background-color: var(--color-element-dark);
}


.az-input-button input[type=range]::-moz-range-thumb {
    background: var(--color-element-white);
    width: 0.5ch;
    height: 1em;
}

.az-input-button:hover input[type=range]::-moz-range-thumb {
    background-color: var(--color-element-dark);
}


.az-input-button input[type=color],
.az-input-button input[type=color]::-webkit-color-swatch-wrapper,
.az-input-button input[type=color]::-webkit-color-swatch,
.az-input-button input[type=color]::-moz-focus-inner,
.az-input-button input[type=color]::-moz-color-swatch {
    -webkit-appearance: none;
    border: none;
    width: 2em;
    height: 1em;
    background: transparent;
    padding: 0;
    margin: 0;
    border-radius: 2em;
    cursor: pointer;
    vertical-align: middle;
}

/* #endregion */

:is(.az-button, .az-link-button, .az-input-button, .az-select-button):not([static]):hover {
    background: var(--color-element-white);
    color: var(--color-element-dark);
}

.az-span {
    color: var(--color-element-light);
}


.az-select-button option {
    background: var(--color-element-dark);
    font-size: 0.8em;
}
