@font-face {
  font-family: 'JB mono';
  src: url(./fonts/JB_Mono.woff2);
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-main-white);
  border: solid var(--color-main);
}

body::-webkit-scrollbar-track {
  background: var(--color-main);
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--color-main-black);
}

body,
input,
button,
select,
textarea {
  font-family: 'JB mono', monospace;
  font-size: 16px;
  color: var(--color-text-white);
}

*:focus {
  outline: solid 1px var(--color-text-white);
}

main {
  margin: 0;
  white-space: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1em;
}

textarea {
  background: var(--color-back-main);
}

*[id] {
  scroll-margin-top: 64px;
}

.unselectable {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently not supported by any browser */
}

@media screen and (max-width : 800px) {
  body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  body::-webkit-scrollbar-thumb {
    border-width: 2px;
  }

  body,
  input,
  button,
  select,
  textarea {
    font-size: 12px;
  }
}

@media screen and (min-width : 800px) {
  body::-webkit-scrollbar {
    width: 18px;
    height: 18px;
  }

  body::-webkit-scrollbar-thumb {
    border-width: 5px;
  }
}